-# .chat-main
-#   .main-header
-#     .main-header__left-box
-#       %h2.main-header__left-box__current-group
-#         な
-#       %ul.main-header__left-box__member-list
-#         Member :
-#         %li.main-header__left-box__member-list__member
-#           nagao
-#     .main-header__edit-btn Edit
-#   .messages
-#     .message
-#       .message-list__chat-box
-#         .message-list__chat-box__user-box
-#           %p.message-list__chat-box__user-box__user-name
-#             nagao
-#           %p.message-list__chat-box__user-box__time
-#             2020/02/10
-#         %p.message-list__chat-box__chat-message
-#           おはよう
-#   .form
-#     %form.new_message
-#       .input-box
-#         %input{type: "text", class: "input-box__text", placeholder: "type message"}
-#         %label{class: "input-box__image"}
-#           = icon('fas', 'image')
-#           %input{type: "file", class: "input-box__image__file"}
-#       %input{type: "submit", class: "submit-btn"}
